{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="records" class="dwp-horizontal-navigation__link">Records</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="reports" class="dwp-horizontal-navigation__link">Reports</a>
            </li> 

            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="HRRecords" href="hr-records" class="dwp-horizontal-navigation__link"  aria-current="true">HR Records</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="microfiche" href="microfiche" class="dwp-horizontal-navigation__link">Microfiche</a>
            </li> 
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="document-upload" class="dwp-horizontal-navigation__link">Document Upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>

{% endblock %} {% block content %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">View and manage a HR record</h1>

    {{ govukInput({
      label: {
        text: "National Insurance Number (NINo)",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
      hint: {
        text: "For example, ‘QQ 12 34 56 C’"
      },
      id: "office-ID",
      name: "officeID",
      autocomplete: "office",
      spellcheck: false
    }) }}

    {{ govukInput({
      label: {
        text: "First name",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
      id: "sort-code",
      name: "sortCode",
      inputmode: "numeric",
      spellcheck: false
    }) }}

    {{ govukInput({
      label: {
        text: "Last name",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
      id: "sort-code",
      name: "sortCode",
      inputmode: "numeric",
      spellcheck: false
    }) }}

    {{ govukDateInput({
        id: "date-of-birth",
        namePrefix: "date-of-birth",
        fieldset: {
          legend: {
            text: "Date of birth",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2000"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Staff number",
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        hint: {
        text: "Must be xx characters long"
        },
        id: "sort-code",
        name: "sortCode",
        inputmode: "numeric",
        spellcheck: false
      }) }}


    {{ govukButton({
      text: "Search"
    }) }}
    
  </div>
</div>
</div>

{% endblock %}
