{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="ninoSearch" href="nino-search" class="dwp-horizontal-navigation__link" aria-current="true">NINo Search</a>
            </li> 
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="HRSearch" href="hr-search" class="dwp-horizontal-navigation__link">HR Search</a>
            </li> 
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="document-upload" class="dwp-horizontal-navigation__link">Document Upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>

{% endblock %} {% block content %} {% from
"govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukInput({
    label: {
      text: "National Insurance number"
    },
    hint: {
      text: "It’s on your National Insurance card, benefit letter, payslip or P60 – for example, ‘QQ 12 34 56 C’"
    },
    classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
    id: "national-insurance-number",
    name: "nationalInsuranceNumber",
    spellcheck: false
  }) }}
    
    
  </div>
</div>

{% endblock %}
