{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check the details for your document upload – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="documentUpload" href="upload-customer-details" class="dwp-horizontal-navigation__link" aria-current="true">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %} 

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check the details for your document upload 
      </h1>

      <h2 class="govuk-heading-l">
        Customer details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "QQ123456C"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "National Insurance number"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Customer Reference number (CRN)"
            },
            value: {
              text: "Not provided",
              classes: "govuk-caption-m"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Customer Reference number"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Claim reference"
            },
            value: {
              text: "Not provided",
              classes: "govuk-caption-m"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Claim reference"
                }
              ]
            }
          },
          {
            key: {
              text: "First name"
            },
            value: {
              text: "Jane"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "first name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Doe"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "last name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "Not provided",
              classes: "govuk-caption-m"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: "Not provided",
              classes: "govuk-caption-m"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Postcode"
                }
              ]
            }
          }
        ]
      }) }}

       <h2 class="govuk-heading-l">
        Benefit type
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Business unit"
            },
            value: {
              text: "Social Fund"
            }
          }
          ,
          {
            key: {
              text: "Benefit type"
            },
            value: {
              text: "Sure Start Maternity Grant"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Benefit type"
                }
              ]
            }
          }
        ]
      }) }}

 <h2 class="govuk-heading-l">
        Document details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Classification"
            },
            value: {
              text: "Supporting"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Classification"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Harmful indicator"
            },
            value: {
              text: "Not harmful"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Harmful indicator"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Issue date"
            },
            value: {
              text: "Not provided",
              classes: "govuk-caption-m"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Issue date"
                }
              ]
            }
          },
          {
            key: {
              text: "Line of Business (LOB) case ID"
            },
            value: {
              text: "Not provided",
              classes: "govuk-caption-m"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Line of Business case ID"
                }
              ]
            }
          },
          {
            key: {
              text: "Link data"
            },
            value: {
              text: "Not provided",
              classes: "govuk-caption-m"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Link data"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        Uploaded files
      </h2>
      <h3 class="govuk-heading-m">First uploaded file</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File"
            },
            value: {
              text: "jd-file37_a.pdf"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "File"
                },
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "file"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Document type"
            },
            value: {
              text: "MatB1"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Document type"
                }
              ]
            }
          }
        ]
      }) }}

       <h3 class="govuk-heading-m">Second uploaded file</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File"
            },
            value: {
              text: "jd-file2.pdf"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "File"
                },
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "file"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Document type"
            },
            value: {
              text: "CIS500"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Document type"
                }
              ]
            }
          }
        ]
      }) }}


      


<form action="/confirmation" method="post" novalidate>

<div class="govuk-button-group">
    {{ govukButton({
    text: "Add another file",
    classes: "govuk-button--secondary"
  }) }}
  {{ govukButton({
    text: "Upload",
        href: "upload-confirmation"
  }) }}
</div>

      </form>

    </div>
  </div>
{% endblock %}


