{% extends "layouts/main.html" %} 
{% block pageTitle %} Select the file you want to upload –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 

{% block beforeContent%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="documentUpload" href="upload-start" class="dwp-horizontal-navigation__link" aria-current="true">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>

{% endblock %} 

{% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Select the file you want to upload</h1>

   <p class="govuk-body">Some explanation text around uploading documents to ECMS, such as it has to be for the same customer and document details such as the benefit type and classification have to be the same for all documents uploaded at the same time.</p>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href: "upload-check-answers"
      }) }}
    </div>
    
  </div>
</div>
</div>

{% endblock %}
