{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove hold – Report search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="reports" href="reports" class="dwp-horizontal-navigation__link" aria-current="true">Report search</a>
            </li> 
        {#
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        #}
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l">
        Remove hold
      </h1>

 {% from "govuk/components/radios/macro.njk" import govukRadios %}


      <p>Check that the reports listed are the ones you want to remove from hold. </p>
        <p>Removing a report hold will mark the report as closed. This means it will be scheduled to be deleted.</p>
        

        <div class="govuk-!-padding-bottom-4"></div>
      

<form action="reports-remove-hold-confirmation" method="post" novalidate>


  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Reports selected to remove from on hold</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date received or issued</th>
      <th scope="col" class="govuk-table__header">Office ID</th>
      <th scope="col" class="govuk-table__header">Document type</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Feb 2026 </th>
      <td class="govuk-table__cell">11223</td>
      <td class="govuk-table__cell">JA70150</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">On hold</strong></td>
    </tr>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Feb 2026</th>
      <td class="govuk-table__cell">11223</td>
      <td class="govuk-table__cell">JA72233</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">On hold</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Feb 2025</th>
      <td class="govuk-table__cell">11223</td>
      <td class="govuk-table__cell">JA72852</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">On hold</strong></td>
    </tr>
  </tbody>
</table>


<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-button-group">

  {{ govukButton({
    text: "Remove hold"
  }) }}

  <a class="govuk-link" href="search-results-reports">Cancel</a>


      </form>
    </div>
  </div>

{% endblock %}
