{% extends "layouts/main.html" %}

{% block pageTitle %}
  Hold removed – Report search– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="reports" href="reports" class="dwp-horizontal-navigation__link" aria-current="true">Report search</a>
            </li> 
        <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        -->
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{{ govukPanel({
    titleText: "Hold removed",
    html: ""
    }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
       The reports have been scheduled to close. Other closed documents remain unchanged. 
      </p>

      <p> 
        <a href="search-results-reports">
          Return to search results
        </a>
      </p>


    </div>
  </div>

{% endblock %}
