//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-width-container {
    max-width: 1200px!important;
}

.moj-filter__tag::after {
    background-image: url(/public/images/icon-tag-remove-cross.svg);
}

@import "node_modules/accessible-autocomplete/dist/accessible-autocomplete.min.css";

// CSS for confirmation panel in red - aka rejection panel
.govuk-panel--rejection {
  background-color: govuk-colour("red");
}


// CSS for type-ahead
.typeahead {
  display: block;
  position: relative;
}

.typeahead-menu[hidden] {
  display: none;
}

.typeahead-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  inset-inline: 0;

  list-style: none;
  margin: 0;
  padding: 0;

  background: #ffffff;
  border: 2px solid #b1b4b6;
  border-top: none;

  max-height: 240px;
  overflow-y: auto;
}

.typeahead-menu li {
  @include govuk-font(19);
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid #b1b4b6;
}

.typeahead-menu li:nth-child(even) {
  background-color: #f3f2f1;
}

.typeahead-menu li:hover,
.typeahead-menu li.active {
  background-color: #1d70b8;
  color: #ffffff;
}

.typeahead-menu li:last-child {
  border-bottom: none;
}
 
//CSS for search result cards
.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: results;
}

.search-result {
  display: grid;
  grid-template-columns: 20px 40px 1fr;
  column-gap: govuk-spacing(3);
  align-items: start;
  counter-increment: results;
}

.search-result__number,
.search-result__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}

.search-result__number {
  font-weight: bold;
}

.search-result__number::before {
  content: counter(results);
}

.search-result-card {
  border: 1px solid #b1b4b6;
  padding: govuk-spacing(4);
  background: #ffffff;
}

.search-result-card:hover {
  border-color: #505a5f;
}

.search-result-card__summary .govuk-summary-list__row {
  padding-top: 2px;
  padding-bottom: 2px;
}

.search-result-card__summary .govuk-summary-list__key,
.search-result-card__summary .govuk-summary-list__value {
  padding-top: 4px;
  padding-bottom: 4px;
}
.search-result-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

//CSS for search result cards without border
.search-result-card-borderless {
  border: 0px solid #b1b4b6;
  padding: govuk-spacing(1);
  background: #ffffff;
}