{% extends "layouts/main.html" %} {% block pageTitle %} You do not have access –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}


<div class="govuk-!-padding-bottom-4"></div>


{% endblock %} 

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have access</h1>
        <p class="govuk-body">
         Contact your system administrator to get access to ECMS.
        </p>
    </div>
  </div>
{% endblock %}