{% extends "layouts/main.html" %} {% block pageTitle %} Sorry, the service is unavailable –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}


<div class="govuk-!-padding-bottom-4"></div>


{% endblock %} 

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
      <p class="govuk-body">
        You will be able to use the service later.
      </p>
      <p class="govuk-body">
        We have not saved your updates. When the service is available, you will have to start again.
      </p>
      
    </div>
  </div>
{% endblock %}