{% extends "layouts/main.html" %} {% block pageTitle %} You have been signed out –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}


<div class="govuk-!-padding-bottom-4"></div>


{% endblock %}

{% block content %}
<h1 id="dialog-title" class="govuk-heading-l">
  Your page has timed out
</h1>
<div class="govuk-body">
  <p>Any information you have not saved or submitted has been deleted because your session was inactive for 2 hours.</p>
  <p>This is to protect customer information.</p>
</div>
{{ govukButton({
      text: "Back to search",
      classes: "govuk-button dialog-button js-dialog-close",
      href: "../records"
    }) }}
{% endblock %}