{% extends "layouts/main.html" %}

{% block pageTitle %}
  Iterations: Document search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Designs for developers</span>
        Iterations: Document search
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>
  
  <!-- LATEST ITERATION -->
  <h2 class="govuk-heading-m">
    Latest iteration
    </h2>

 <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
  <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Navigation <br> (Basic search)</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Homepage with navigation items</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>Content change for paragraph text</li>
  <li>Hint text example matched to allowed format</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 March 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/records.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Advanced search</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Advanced search with search combos and type ahead</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>NEW: Content change for details component on search combinations</li>
  <li>Details component added for search combination info</li>
  <li>Content change for CRN label</li>
  <li>Content change for Claim reference label</li>
  <li>Autosuggest added for Document type</li>
  <li>Content change for report date label</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">14 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/advanced-search.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
   <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">'No results found' screen</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results screen for no results found when searching on the Basic seach or Advanced search screen</p>
       <p class="govuk-body"></p> <ul class="govuk-list govuk-list--bullet">
      <li>If user started search from Basic search, they return to Basic search screen</li>
      <li>If user started search from Advanced search, they return to Advances search screen</li>
    </ul></p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">17 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results-no-results.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  
</table>


</div>
  <!-- PREVIOUS ITERATIONS -->
 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Previous Iterations    
    </h2>


    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  
<tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Radio <br> (Basic search)</th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Homepage with 'what do you want to do today' radio selections</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 March 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/radios.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  
</table>
 </div>

 



{% endblock %}
