{% extends "layouts/main.html" %}

{% block pageTitle %}
  Iterations: HR search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Designs for developers</span>
        Iterations: HR search
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>
  
  <!-- LATEST ITERATION -->
  <h2 class="govuk-heading-m">
    Latest iteration
    </h2>

 <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
  <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">HR search</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search for HR records via radios</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>30 Mar 2026:</strong> Content change for H1, legend and radio 1 and 2</li>
    </ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 March 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/hr-search.html" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">M-store</th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">M-store search</p>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Changes
          </span>
        </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>3 Aug 2026:</strong> Accepted search combos added, input length increased staff number</li>
              <li><strong>17 Jul 2026:</strong> Input length increased for first and last name</li>
              <li><strong>30 Mar 2026:</strong> Back link added</li>
              <li><strong>30 Mar 2026:</strong> Content change for H1 and NINO legend</li>
              <li><strong>30 Mar 2026:</strong> Hint text example matched to allowed format</li>
            </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">3 Aug 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/hr-records.html" class="govuk-link">View</a></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">M-store search results: <br> Cards</th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 A</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results displayed as list of cards</p>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Changes
          </span>
        </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
               <li><strong>6 Aug 2026:</strong>Content change for button text</li>
             <li><strong>17 Jul 2026:</strong> Published</li>
           </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">6 Aug 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/search-results-hr-records?output" class="govuk-link">View</a></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">M-store: <br> No results found</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <!--<p class="govuk-body"> [placeholder text]</p> -->
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>17 Jul 2026:</strong> Published</li>
            </ul>
              </div>
          </details>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">17 Jul 2026</p>
            </td>
            <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
                Ready
          </strong>
          </td>
          <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/search-results-hr-records-no-results?no-results=no-match" class="govuk-link">View</a></td>
        </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Microfiche
      </th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Microfiche search</p>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Changes
          </span>
        </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>6 Aug 2026:</strong>H1 content change, search combos updated, hint text for date input updated, staff number input changed to 2 digits</li>
              <li><strong>3 Aug 2026:</strong>Date input updated, HR ref input length increased</li>
              <li><strong>17 Jul 2026:</strong>Accepted search combinations added</li>
              <li>Back link added</li>
              <li>Content change for H1</li>
            </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">6 Aug 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/microfiche.html" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Mircofiche search results: <br> Cards</th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 A</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results displayed as list of cards</p>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Changes
          </span>
        </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>6 Aug 2026:</strong>Content change for button text, document types updated, staff number updated to 2 digits</li>
             <li><strong>3 Aug 2026:</strong>Content update for staff number, cards displayed with border</li>
             <li><strong>17 Jul 2026:</strong> Published</li>
           </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">6 Aug 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/search-results-microfiche?output" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Microfiche: <br> No results found</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <!--<p class="govuk-body"> [placeholder text]</p> -->
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>17 Jul 2026:</strong> Published</li>
            </ul>
              </div>
          </details>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">17 Jul 2026</p>
            </td>
            <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
                Ready
          </strong>
          </td>
          <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/search-results-microfiche-no-results?no-results=no-match" class="govuk-link">View</a></td>
        </tr>
  </tbody>
  
</table>


</div>
  <!-- PREVIOUS ITERATIONS -->
 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Previous Iterations    
    </h2>


    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  
  
  <tbody class="govuk-table__body">
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">M-store search results: <br> Table</th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 B</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results displayed as table</p>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Changes
          </span>
        </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
             <li><strong>17 Jul 2026:</strong> Published</li>
           </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">17 Jul 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/search-results-hr-records?output=table" class="govuk-link">View</a></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Microfiche search results: <br> Table</th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 B</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results displayed as table</p>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Changes
          </span>
        </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
             <li><strong>17 Jul 2026:</strong> Published</li>
           </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">17 Jul 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/hr-search/search-results-microfiche?output=table" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  
</table>
 </div>

 



{% endblock %}
