{% extends "layouts/main.html" %}

{% block pageTitle %}
  Iterations: Search results – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Designs for developers</span>
        Iterations: Search results
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <!-- LATEST ITERATION -->
  <h2 class="govuk-heading-m">
    Latest iteration
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Action button <br> + Sort select</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 A</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results with primary button for view documents and secondary actions in a drop-down (MOJ pattern)</p>
        <p class="govuk-body">Sort select for default date and LOB case ID</p>
        <p class="govuk-body">Filter with max number of checkboxes</p>
          <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
          <li><strong>29 Apr 2026:</strong> Caption added for table</li>
          <li><strong>9 Apr 2026:</strong> Full width layout for search result table</li>
          <li><strong>9 Apr 2026:</strong> Checkboxes for filter added, with maximum of 8 checkboxes</li>
          <li>Select added for sorting table</li>
          <li>Content change for Date received or issued</li>
          <li>Content change for LOB case ID</li>
          <li>Content change for date format in table rows</li>
        </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">29 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple" style="white-space: nowrap">
          In progress
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results-v3.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  
   <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Warning text</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Warning text for non existent Nino in CIS</p>
         <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>14 Apr 2026:</strong> Content change for warning text component</li>
  <li>Warning text component added</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">14 April 2026</p>
      </td>
      <td class="govuk-table__cell">
       <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results-warning.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
   <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Long filter with select and checkbox</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results with filter using select for Document type and checkboxes for Benefit line</p>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
          <li><strong>9 Apr 2026:</strong> Drop-down for filter example when it exceeds 8 filter items</li>
          <li><strong>9 Apr 2026:</strong> Checkboxes for filter expanded to maximum of 8 checkboxes</li>
        </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">9 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results-long-filter-v2.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  
</table>


</div>

  <!-- PREVIOUS ITERATIONS -->
 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Previous Iterations    
    </h2>


    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  
  
  <tbody class="govuk-table__body">
     <!-- ROW 1 -->
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Long filter with select</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V0.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results with filter using select for Document type and Benefit line</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 March 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--yellow">
          On hold
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results-long-filter.html" class="govuk-link">View</a></td>
    </tr>
    <!-- ROW 2 -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Action button <br> + Sortable table head</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 B</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results with primary button for view documents and secondary actions in a drop down (MOJ pattern)</p>
        <p class="govuk-body">Sortable table header by date and LOB case ID (MOJ pattern)</p>
                  <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Changes
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
          <li>Sortable table header added for sorting table</li>
          <li>Content change for Date received or issued</li>
          <li>Content change for LOB case ID</li>
          <li>Content change for date format in table rows</li>
        </ul>
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 March 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red" style="white-space: nowrap">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results-v2.html" class="govuk-link">View</a></td>
    </tr>
    <!-- ROW 3 -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Action button</th>
            <td class="govuk-table__cell">
        <p class="govuk-body">V0.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results with action button for all actions</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 March 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results.html" class="govuk-link">View</a></td>
    </tr>
      <!-- ROW 3 -->
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Radio button</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V0.0</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">Search results with 'continue' journey with opens a new radio page</p>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 March 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/search-results-alt.html" class="govuk-link">View</a></td>
    </tr>
   
  </tbody>
  
</table>

</div>


{% endblock %}
