{% extends "layouts/main.html" %}

{% block pageTitle %}
  Iterations: Upload evidence – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Designs for developers</span>
        Iterations: Upload evidence
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>
  
  <!-- LATEST ITERATION -->
  <h2 class="govuk-heading-m">
    Latest iteration
    </h2>

 <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
  <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  
   <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Customer details A</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 A</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Customer details for evidence upload with H2 <br>(Landing page)</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-customer-details" class="govuk-link">View</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Benefit type: Single option</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Benefit type page for only one option</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-benefit-type?benefitType=fraud" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Benefit type: Radios</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Benefit type page for up to 10 options</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-benefit-type?benefitType" class="govuk-link">View</a></td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Benefit type: Select</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Benefit type page for more than 10 options</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-benefit-type?benefitType=nissa" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Document details</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Document details page</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag" style="white-space: nowrap">
          In review
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-document-details" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">File upload</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">File upload and document type screen</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">23 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple" style="white-space: nowrap">
          In progress
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-file" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Check details</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Screen to check details before submitting upload, change details and add another file</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">23 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple" style="white-space: nowrap">
          In progress
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-check-answers" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Confirmation</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Confirmation page for successful upload</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">23 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple" style="white-space: nowrap">
          In progress
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-confirmation" class="govuk-link">View</a></td>
    </tr>
  </tbody>

</table>

</div>
  <!-- PREVIOUS ITERATIONS -->
 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Previous Iterations    
    </h2>


    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Upload start page</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Landing page for evidence upload</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red" style="white-space: nowrap">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-start" class="govuk-link">View</a></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Customer details B</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 B</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Customer details for evidence upload with radios and conditional reveals</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red" style="white-space: nowrap">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-customer-details2" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  
</table>
 </div>

 



{% endblock %}
