{% extends "layouts/main.html" %}

{% block pageTitle %}
  Iterations: Upload evidence – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Designs for developers</span>
        Iterations: Upload evidence
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>
  
  <!-- LATEST ITERATION -->
  <h2 class="govuk-heading-m">
    Latest iteration
    </h2>

 <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
  <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  
   <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Customer details A</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 A</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Customer details for evidence upload with H2 <br>(Landing page)</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li><strong>19 June 2026:</strong> section break added</li>
  <li><strong>4 June 2026:</strong> content changes for H1, H2, nino hint text, CRN</li>
  <li><strong>19 May 2026:</strong> content changes</li>
  <li><strong>22 Apr 2026:</strong> published</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">19 June 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-customer-details" class="govuk-link">View</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Benefit type: Single option</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Benefit type page for only one option</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li><strong>19 May 2026:</strong> content changes</li>
  <li><strong>22 Apr 2026:</strong> published</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">19 May 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-benefit-type?benefitType=fraud" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Benefit type: Radios</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Benefit type page for up to 10 options</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li><strong>19 May 2026:</strong> content changes</li>
  <li><strong>22 Apr 2026:</strong> published</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">19 May 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-benefit-type?benefitType" class="govuk-link">View</a></td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Benefit type: Select</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Benefit type page for more than 10 options</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li><strong>19 May 2026:</strong> content changes</li>
  <li><strong>22 Apr 2026:</strong> published</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">19 May 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-benefit-type?benefitType=nissa" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Document details</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Document details page</p>
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>19 June 2026:</strong> harmful indicator changed to optional, section break added, H2 and body text added above optional fields</li>
      <li><strong>4 June 2026:</strong> content change for LOB</li>
    <li><strong>28 May 2026:</strong> content changes for hint text on classification and harmful indicator</li>
  <li><strong>19 May 2026:</strong> content changes</li>
  <li><strong>22 Apr 2026:</strong> published</li>
</ul>
  </div>
</details>
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">19 June 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-document-details" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">File upload: multi</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">File upload and document type screen</p>
       
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>27 Aug 2026:</strong> Document type typeahead to match requirements</li>
  <li><strong>4 June 2026:</strong> Content changes first H2 removed, file types in lower case</li>
  <li><strong>19 May 2026:</strong> Content changes</li>
  <li><strong>30 Apr 2026:</strong> Hint text for file format, limit and size added</li>
  <li><strong>30 Apr 2026:</strong> Upload changed to govuk-label--m</li>
  <li><strong>30 Apr 2026:</strong> Back link added</li>
  <li><strong>23 Apr 2026:</strong> published</li>
</ul>
  </div>
</details> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">27 August 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple" style="white-space: nowrap">
          In progress
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-file?upload-role" class="govuk-link">View</a></td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">File upload: single</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">File upload and document type screen for single file upload</p>
       
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>27 Aug 2026:</strong> Document type typeahead to match requirements</li>
  <li><strong>4 June 2026:</strong> Content changes first H2 removed, file types in lower case</li>
  <li><strong>19 May 2026:</strong> Content changes</li>
  <li><strong>30 Apr 2026:</strong> published</li>
</ul>
  </div>
</details> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">27 August 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple" style="white-space: nowrap">
          In progress
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-file?upload-role=single" class="govuk-link">View</a></td>
    </tr>
    
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Check details: single</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Screen to check details before submitting upload, change details</p>
       
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
  <li><strong>4 June 2026:</strong> summary cards added, content change for H1</li>
  <li><strong>19 May 2026:</strong> Content change for Document classification</li>
  <li><strong>23 Apr 2026:</strong> published</li>
</ul>
  </div>
</details>  
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">4 June 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-check-answers?upload-role=single" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Check details: multi - 1 file</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Screen to check details before submitting upload, change details and add another file</p>
       
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
  <li><strong>4 Jun 2026:</strong> published</li>
</ul>
  </div>
</details>  
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">4 June 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-check-answers?upload-role=multi-single-file" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Check details: multi - 2 files</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Screen to check details before submitting upload, change details and add another file</p>
       
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
  <li><strong>4 June 2026:</strong> summary cards added, content change for H1</li>
  <li><strong>19 May 2026:</strong> Content change for Document classification</li>
  <li><strong>30 Apr 2026:</strong> Summary cards added for uploaded files section</li>
  <li><strong>23 Apr 2026:</strong> published</li>
</ul>
  </div>
</details>  
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">4 June 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-check-answers?upload-role" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Delete file <br> Are you sure...? page</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Interruption screen asking if user wants to delete the file. <br> Only shown when there is more than one file added.</p>
       
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
  <li><strong>17 June 2026:</strong> published</li>
</ul>
  </div>
</details>  
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">17 June 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-delete-file" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Confirmation</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Confirmation page for successful upload</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">23 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-confirmation" class="govuk-link">View</a></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Abandon upload <br> Are you sure..? page</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Interruption page to warn they user changes will not be saved if leaving the document upload <br>
      **Prototype works for navigating to Document search only</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">30 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="white-space: nowrap">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-interruption" class="govuk-link">View</a></td>
    </tr>
  </tbody>

</table>

</div>
  <!-- PREVIOUS ITERATIONS -->
 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Previous Iterations    
    </h2>


    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Variants</th>
      <th scope="col" class="govuk-table__header app-custom-class">Version</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Last updated</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Upload start page</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Landing page for evidence upload</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red" style="white-space: nowrap">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-start" class="govuk-link">View</a></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Customer details B</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">V1.0 B</p>
      </td>
      <td class="govuk-table__cell">
       <p class="govuk-body">Customer details for evidence upload with radios and conditional reveals</p>
       <!-- 
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>xxx</li>
  <li>xxx</li>
</ul>
  </div>
</details>  --> 
      </td>
      <td class="govuk-table__cell">
        <p class="govuk-body">22 April 2026</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red" style="white-space: nowrap">
          Rejected
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="/ecms-v1/upload/upload-customer-details2" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  
</table>
 </div>

 



{% endblock %}
