{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">January 2026</span>
        Homepage variations
      </h1>

    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>

  <h2 class="govuk-heading-m">
    Homepage
    </h2>

    <div class="width-container govuk-!-padding-4" style="border-radius:10px; background-color:#f3f2f1">
      <div class="govuk-!-padding-bottom-2"></div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Navigation</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">Homepage with navigation items</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="records.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Radio</th>
      <td class="govuk-table__cell">
        <p class="govuk-body">Homepage with 'what do you want to do today' radio selections</p>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag">
          Ready
    </strong>
    </td>
    <td class="govuk-table__cell"><a href="radios.html" class="govuk-link">View</a></td>
    </tr>
  </tbody>
  



  
</table>
</div>




{% endblock %}
