{% extends "layouts/main.html" %} {% block pageTitle %} HR records search –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item  dwp-horizontal-navigation__item--selected">
            <a id="HRPortal" href="hr-portal" class="dwp-horizontal-navigation__link" aria-current="true">HR search</a>
            </li>         
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="document-upload" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>

{% endblock %} {% block content %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">HR records search</h1>

    <p class="govuk-body">Search ECMS using one of the options below to view and manage HR records.</p>

  

     {{ govukRadios({
          name: "HowToSearch",
          fieldset: {
            legend: {
              text: "How do you want to search for a HR record?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "M-store",
              text: "M-store"
            },
            {
              value: "microfiche",
              text: "Microfiche"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
    
    
  </div>
</div>
</div>

{% endblock %}
