{% extends "layouts/main.html" %} {% block pageTitle %} Report search –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="reports" href="reports" class="dwp-horizontal-navigation__link" aria-current="true">Report search</a>
            </li> 

        <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        -->
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="upload/upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>

{% endblock %} {% block content %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Report search</h1>

    {{ govukInput({
      label: {
        text: "Office ID",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
      hint: {
        text: "Must be 5 digits long"
      },
      id: "office-ID",
      name: "officeID",
      autocomplete: "office",
      spellcheck: false
    }) }}

    {{ govukInput({
      label: {
        text: "Document type",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--extra-letter-spacing",
      
      id: "document-type",
      name: "documentType",
      inputmode: "numeric",
      spellcheck: false
    }) }}


    <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <label class="govuk-label govuk-label--m govuk-!-padding-left-3" for="sort-code">
            When was the report generated?
          </label>
          <div class="govuk-grid-column-one-half">

            {{ govukDateInput({
              id: "from",
              namePrefix: "from",
              fieldset: {
                legend: {
                  text: "From:"
                }
              },
              hint: {
                text: "For example, 27 3 2007"
              }
            }) }}

          </div>
          <div class="govuk-grid-column-one-half">

              {{ govukDateInput({
                id: "To",
                namePrefix: "To",
                fieldset: {
                  legend: {
                    text: "To:"
                  }
                },
                hint: {
                  text: "For example, 27 3 2007"
                }
              }) }}
          </div>
      </div>
    </div>

    {{ govukButton({
      text: "Search"
    }) }}
    
  </div>
</div>
</div>

{% endblock %}
