{% extends "layouts/main.html" %} {% block pageTitle %} Content page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

<div class="govuk-!-padding-bottom-4"></div>

{% endblock %} {% block content %} {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukRadios({
        name: "whereDoYouLive",
        fieldset: {
          legend: {
            text: "What do you want to do today?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-padding-bottom-4"
          }
        },
        items: [
          {
            value: "search-record",
            text: "Search records",
            hint: {
              text: "Search ECMS for records to view and manage. You can also run an advanced search"
            }
          },
          {
            value: "search-reports",
            text: "Search reports",
            hint: {
              text: "Search ECMS for reports to view and manage"
            }
          },
          {
            value: "hr-record",
            text: "Search HR record",
            hint: {
              text: "Search ECMS for HR records to view and manage"
            }
          },
          {
            value: "microfiche",
            text: "Search Microfiche",
            hint: {
              text: "Search ECMS for microfiches to view"
            }
          },
          {
            value: "Upload-document",
            text: "Upload to Document Service",
            hint: {
              text: "upload a document to the Document Upload service"
            }
          }
        ]
      }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</div>

{% endblock %}
