<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">
            <div class="moj-scrollable-pane" role="region" aria-label="Microfiches search results" tabindex="0">
                <table class="govuk-table" data-module="moj-multi-select" data-id-prefix="microfiches-">
                    <caption class="govuk-table__caption govuk-table__caption--m">Microfiche search results</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">ID</th>
                        <th class="govuk-table__header" scope="col">Select</th>
                        <th class="govuk-table__header" scope="col">Month</th>
                        <th class="govuk-table__header" scope="col">Year</th>
                        <th class="govuk-table__header" scope="col">Staff number ending</th>
                        <th class="govuk-table__header" scope="col">Document type</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">1</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-bacs" value="bacs">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-bacs">
                                <span class="govuk-visually-hidden">Select BACS</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">BACS</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">2</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa36" value="nsa36">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa36">
                                <span class="govuk-visually-hidden">Select NSA36 Transfer within ES / Change in pay band</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA36 Transfer within ES / Change in pay band</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">3</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-p60" value="p60">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-p60">
                                <span class="govuk-visually-hidden">Select P60</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">P60</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">4</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa45" value="nsa45">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa45">
                                <span class="govuk-visually-hidden">NSA45 Extended Working Hours Allowance</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA45 Extended Working Hours Allowance</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">5</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa59" value="nsa59">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa59">
                                <span class="govuk-visually-hidden">NSA59 Recruitment & Retention Allowance</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA59 Recruitment & Retention Allowance</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">6</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-contracts" value="contracts">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-contracts">
                                <span class="govuk-visually-hidden">Select contracts</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">Contracts</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">7</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa43" value="nsa43">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa43">
                                <span class="govuk-visually-hidden">Select NSA43 Local Office Advance Recovery</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA43 Local Office Advance Recovery</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">8</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-bacs" value="bacs">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-bacs">
                                <span class="govuk-visually-hidden">Select BACS</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">BACS</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">9</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa36" value="nsa36">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa36">
                                <span class="govuk-visually-hidden">Select NSA36 Transfer within ES / Change in pay band</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA36 Transfer within ES / Change in pay band</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">10</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-p60" value="p60">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-p60">
                                <span class="govuk-visually-hidden">Select P60</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">P60</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">11</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa45" value="nsa45">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa45">
                                <span class="govuk-visually-hidden">NSA45 Extended Working Hours Allowance</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA45 Extended Working Hours Allowance</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">12</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa59" value="nsa59">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa59">
                                <span class="govuk-visually-hidden">NSA59 Recruitment & Retention Allowance</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA59 Recruitment & Retention Allowance</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">13</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-contracts" value="contracts">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-contracts">
                                <span class="govuk-visually-hidden">Select contracts</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">Contracts</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">14</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa43" value="nsa43">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa43">
                                <span class="govuk-visually-hidden">Select NSA43 Local Office Advance Recovery</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA43 Local Office Advance Recovery</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">15</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa36" value="nsa36">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa36">
                                <span class="govuk-visually-hidden">Select NSA36 Transfer within ES / Change in pay band</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA36 Transfer within ES / Change in pay band</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">16</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-p60" value="p60">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-p60">
                                <span class="govuk-visually-hidden">Select P60</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">P60</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">17</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa45" value="nsa45">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa45">
                                <span class="govuk-visually-hidden">NSA45 Extended Working Hours Allowance</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA45 Extended Working Hours Allowance</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">18</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa59" value="nsa59">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa59">
                                <span class="govuk-visually-hidden">NSA59 Recruitment & Retention Allowance</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA59 Recruitment & Retention Allowance</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">19</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-contracts" value="contracts">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-contracts">
                                <span class="govuk-visually-hidden">Select contracts</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">Contracts</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20</td>
                        <td class="govuk-table__cell">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox" class="govuk-checkboxes__input" id="microfiche-nsa43" value="nsa43">
                            <label class="govuk-label govuk-checkboxes__label" for="microfiche-nsa43">
                                <span class="govuk-visually-hidden">Select NSA43 Local Office Advance Recovery</span>
                            </label>
                            </div>
                        </td>
                        <td class="govuk-table__cell">September</td>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">6789</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">NSA43 Local Office Advance Recovery</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>


      {% from "govuk/components/pagination/macro.njk" import govukPagination %}

        {{ govukPagination({
        next: {
            href: "#"
        },
        items: [
            {
            number: 1,
            current: true,
            href: "#"
            },
            {
            number: 2,
            href: "#"
            },
            {
            number: 3,
            href: "#"
            }
        ]
        }) }}

    </div><!--govuk-grid-column-full-width-->
  </div><!--grid row-->
</div><!--govuk-width-container-->   
    