{% extends "layouts/main.html" %}

{% block pageTitle %}
  Request a rescan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 

        <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        -->
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Request a rescan
    </h1>

    {% if data['doc-status'] in ['closed', 'on-hold'] %}
      {{ govukWarningText({
        text: "One or more selected documents are not open and cannot be re‑scanned",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    <p>Check the document you want to rescan.</p>
    <p class="govuk-body">You can only rescan a document that: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>is open</li>
      <li>sent in by post</li>
      <li>not already being rescanned</li>
    </ul>
      
    {% if data['rescan-link-data'] == 'none' %}
    <form action="actions-rescan-rejection" method="post" novalidate>
    {% else %}
    <form action="actions-rescan-confirmation" method="post" novalidate>
    {% endif %}

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">Document selected for rescan</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date received or issued</th>
            <th scope="col" class="govuk-table__header">National Insurance number</th>
            <th scope="col" class="govuk-table__header">Claim reference</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Document type</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">12 Feb 2026</th>
            <td class="govuk-table__cell">QQ123456C</td>
            <td class="govuk-table__cell">No data</td>
            <td class="govuk-table__cell">Alexander Benedict Montgomery-Wilkins</td>
            <td class="govuk-table__cell">PIP.3023 Residence & Presence / Foreign Residency- General Enquiry Letter to be issued with PIP.3022</td>
            {% if data['doc-status'] in ['closed', 'on-hold'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Open</strong></td>
            {% endif %}
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-4"></div>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "rescanReason",
        fieldset: {
          legend: {
            text: "Select rescan reason",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Illegible document",
            text: "Illegible document"
          },
          {
            value: "Document contains image from multiple documents",
            text: "Document contains image from multiple documents"
          },
          {
            value: "Missing pages on document",
            text: "Missing pages on document"
          },
          {
            value: "Missing information on document",
            text: "Missing information on document"
          },
          {
            value: "Document is not for business unit using ECMS",
            text: "Document is not for business unit using ECMS"
          }
        ]
      }) }}
      <div class="govuk-!-padding-bottom-4"></div>
        <!--

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "rescanLinkData",
          id: "rescan-link-data",
          label: {
            text: "Link data (optional)",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        -->
      <div class="govuk-!-padding-bottom-4">
          {% if data['rescan-link-data'] == 'none' %}
          {{ govukTextarea({
              name: "metadata-link-data",
              id: "metadata-link-data",
              label: {
                text: "Link data",
                classes: "govuk-label--m",
                isPageHeading: false
              },hint: {
                html: 'Link Data is a long reference used to match the rescanned document to the original document. <br> If it is missing or incorrect, you can get the correct number from CamLite'
                },
                          value: ""
            }) }}
          {% else %} 
          {{ govukTextarea({
                  name: "metadata-link-data",
                  id: "metadata-link-data",
                  label: {
                    text: "Link data",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  hint: {
                  html: 'Link Data is a long reference used to match the rescanned document to the original document. <br> If it is missing or incorrect, you can get the correct number from CamLite'
                },
                  value: "2FycmllckxpbmtEYXRhX1YxOjphYmNkZWYxMjM0NTY3ODkwX1hZWjphcGlLZXk9NzQ4NTkzNzQ4NTkzJmNsaWVudElkPWQ4ZjM2YjA3LTViYTItNDhkNS04YzFlLWVkYmQ4OWY4MzQ2MSZzZXNzaW9uPWE4NzQxZmY2ZjEzMjQ1Nzk4YWJjZGVmMTIzNDU2Nzg5MCZ0aW1lc3RhbXA9MTc3MzQ5ODAzNDUyMSZzaWduYXR1cmU9N0Y4QzRBNjVCM0QxRTlGMjY4QTQ0N0Y1QjQzRUEzRDhGQjExNEY2N0U4MjAyQ0Y3QjQ5NUI0Q0QyQjY2RkM4QQ== "
                }) }}
          {% endif %}
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
              text: "Request rescan"
        }) }}
        <a class="govuk-link" href="../search-results-v4">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
