{% extends "layouts/main.html" %}

{% block pageTitle %}
  Rescan requested – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 
        <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        -->
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      {% set rescanReason = data['rescanReason']  %}
      {% set rescanReason = "Rescan reason: " + rescanReason %}
      {{ govukPanel({
          titleText: "Rescan requested",
          html: rescanReason
          }) }}



      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
       Not all systems send an automatic response to rescan requests. Check the document in ECMS to see if it has been updated. Rescan requests can take up to 5 days.
      </p>

      <p> 
        <a href="../search-results-v4">
          Return to search results
        </a>
      </p>


    </div>
  </div>

{% endblock %}
