{% extends "layouts/main.html" %}

{% block pageTitle %}
  Copy created – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../report-search/reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 

        <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        -->
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload/upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% set copyBenefitType = data['copyBenefitType']  %}
{% set copyBenefitType = "Document copied to: " + copyBenefitType %}
{{ govukPanel({
    titleText: "Copy created",
    html: copyBenefitType
    }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
       The copied documents have been added to the file plan of the selected benefit type.
      </p>

      <p> 
        <a href="../search-results-v4">
          Return to search results
        </a>
      </p>


    </div>
  </div>

{% endblock %}
