{% extends "layouts/main.html" %}

{% block pageTitle %}
  Documents updated to closed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 {% if data['closure-date'] == 'true' %}
       {{ govukPanel({
        titleText: "Documents scheduled to close",
        html: "The documents will be closed on 25 December 2026"
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
       The documents remain open until their scheduled closure date.
      </p>


 {% else %}
      {{ govukPanel({
        titleText: "Documents updated to closed",
        html: ""
      }) }}
 
      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
       It may take up to one minute for the changes to show in ECMS.
      </p>
      <p>If the documents do not display as closed  when you return to the search result, run the search again.</p>
{% endif %}
      <p> 
        <a href="../search-results-v3">
          Return to search results
        </a>
      </p>


    </div>
  </div>

{% endblock %}
