{% extends "layouts/main.html" %}

{% block pageTitle %}
  Close documents – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 

        <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="../hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
        -->
        
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l">
        Close documents
      </h1>

      <p>Check all the documents below before continuing to close.</p>

       <form action="actions-close-confirmation" method="post" novalidate>

  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Documents selected for closure</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date received or issued</th>
      <th scope="col" class="govuk-table__header">National Insurance number</th>
      <th scope="col" class="govuk-table__header">Claim reference</th>
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Document type</th>
      <th scope="col" class="govuk-table__header">Status</th>
{% if data['closure-date'] == 'true' %}
      <th scope="col" class="govuk-table__header" style="white-space: nowrap">Closure date</th>
{% endif %}
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Feb 2025 </th>
      <td class="govuk-table__cell">QQ123456C</td>
      <td class="govuk-table__cell">AA123</td>
      <td class="govuk-table__cell">Jane Doe</td>
      <td class="govuk-table__cell">BD8</td>
      <td class="govuk-table__cell">Open</td>
      {% if data['closure-date'] == 'true' %}
      <td class="govuk-table__cell">Date not set</td>
{% endif %}
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Feb 2025</th>
      <td class="govuk-table__cell">QQ123456C</td>
      <td class="govuk-table__cell">No data</td>
      <td class="govuk-table__cell">Jane Doe</td>
      <td class="govuk-table__cell">BD8</td>
      <td class="govuk-table__cell">Open</td>
      {% if data['closure-date'] == 'true' %}
      <td class="govuk-table__cell">Date not set</td>
{% endif %}
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Feb 2026</th>
      <td class="govuk-table__cell">QQ123456C</td>
      <td class="govuk-table__cell">No data</td>
      <td class="govuk-table__cell">Jane Doe</td>
      <td class="govuk-table__cell">CIS500</td>
       <td class="govuk-table__cell">Closed</td>
       {% if data['closure-date'] == 'true' %}
       <td class="govuk-table__cell">3 Oct 2028</td>
{% endif %}
    </tr>
  </tbody>
</table>


 {% if data['closure-date'] == 'true' %}


  {{ govukDateInput({
          id: "closure-date",
          namePrefix: "closure-date",
          fieldset: {
            legend: {
              text: "Enter document closure date (optional)",
              classes: "govuk-fieldset__legend--m",
              value: data['Closure date']
            }
          },
          hint: {
            html: "<p class='govuk-hint'>If you don't enter a date, the documents will be closed today.</p> <p class='govuk-hint'>For example, 27 3 2026 </p>"
          }
        }) }}

 {% endif %}

<div class="govuk-button-group">
  {{ govukButton({
        text: "Close documents"
  }) }}

  <a class="govuk-link" href="../search-results-v3">Cancel</a>


      </form>
    </div>
  </div>

{% endblock %}
