{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customer details updated – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../report-search/reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 
           <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
            -->
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload/upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Metadata updated",
        html: ""
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
       The updated details will show in search results.
      </p>

      <p> 
        <a href="../search-results-v4?bulk-nino&bulk-crn&bulk-claim-ref&bulk-first-name&bulk-last-name&bulk-dob-day&bulk-dob-month&bulk-dob-year&bulk-classification&bulk-lob-case-id&bulkBenefitType&bulk-office-postcode&bulk-link-data&edit-bulk-metadata">
          Return to search results
        </a>
      </p>


    </div>
  </div>

{% endblock %}
