{% extends "layouts/main.html" %} {% block pageTitle %} Check reference document details –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../report-search/reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 
           <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
            -->
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload/upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %} {% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Check reference document details</h1>


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{# Document details #}

{{ govukSummaryList({
  card: {
    title: {
      text: "Reference document details"
    },
    actions: {
      items: [
        {
          href: "metadata-ref-document-details",
          text: "Edit"
        }
      ]
    }
  },
  rows: [
   {
      key: {
        text: "Line of business (LOB) case ID"
      },
      value: {
              text: data['metadata-lob-case-id'] or "004"
            }
    },
    {
      key: {
        text: "Office postcode"
      },
      value: {
              text: data['metadata-office-postcode'] or "SW2 1AA"
            }
    },
    {
      key: {
        text: "Link data"
      },
      value: {
              text: ddata['metadata-link-data'] or "Not provided"
            }
    }
  ]
}) }}


      <form action="metadata-confirmation-ref-document-details" method="post" novalidate>

        {{ govukButton({
          text: "Update metadata"
        }) }}

      </form>




    
  </div>
</div>
</div>

{% endblock %}
