{% extends "layouts/main.html" %} {% block pageTitle %} Check document details –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link" aria-current="true">Document search</a>
            </li> 

            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../report-search/reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 
           <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="HR-Records" href="hr-search" class="dwp-horizontal-navigation__link">HR search</a>
            </li>
            -->
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload/upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %} {% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Check document details</h1>


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{# CUSTOMER DETAILS #}

{{ govukSummaryList({
  card: {
    title: {
      text: "Document details"
    },
    actions: {
      items: [
        {
          href: "metadata-document-details",
          text: "Edit"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Business unit"
      },
      value: {
              text: data['metadataBusinessUnit'] or "Working Age benefits"
            }
    },


    
     {
      key: {
        text: "Benefit type"
      },
      value: {
              text: data['metadataBenefitType'] or "Employment and Support Allowance (ESA)"
            }
    },
      {
      key: {
        text: "Document type"
      },
      value: {
              text: data['metadata-doc-type'] or "BD8"
            }
    },
      {
      key: {
        text: "Document classification"
      },
      value: {
              text: data['metadata-classification'] or "Supporting"
            }
    },
      {
      key: {
        text: "Harmful indicator"
      },
      value: {
              text: data['metadata-harmful-indicator'] or "Not harmful"
            }
    },
      {
      key: {
        text: "Document status"
      },
      value: {
              text: data['metadata-doc-status'] or "Open"
            }
    }
  ]
}) }}


      <form action="metadata-confirmation-document-details" method="post" novalidate>

        {{ govukButton({
          text: "Update metadata"
        }) }}

      </form>




    
  </div>
</div>
</div>

{% endblock %}
