{% extends "layouts/main.html" %} {% block pageTitle %} Search M-store – HR search -
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 
            -->
            <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../report-search/reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 
             -->
            <li class="dwp-horizontal-navigation__item  dwp-horizontal-navigation__item--selected">
            <a id="HRPortal" href="hr-search" class="dwp-horizontal-navigation__link" aria-current="true">HR search</a>
            </li>         
           <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload/upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
           -->
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %} 

{% block content %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Search M-store</h1>

        <!--SEARCH COMBOS -->

    {{ govukDetails({
        summaryText: "Accepted search combinations",
        html: '<p class="govuk-body">You can search by:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>National Insurance number</li>
                <li>First name and last name</li>
                <li>First name, last name and date of birth</li>
                <li>Staff number</li>
              </ul>'
      }) }}

    {{ govukInput({
      label: {
        text: "National Insurance number",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
      hint: {
        text: "For example, ‘QQ123456C’"
      },
      id: "national-insurance-number",
      name: "nationalInsuranceNumber",
      spellcheck: false
    }) }}

    {{ govukInput({
      label: {
        text: "First name",
        classes: "govuk-label--m"
      },
      classes: "govuk-input govuk-!-width-two-thirds govuk-input--extra-letter-spacing",
      id: "first-name",
      name: "FirstName",
      inputmode: "alpha",
      spellcheck: false
    }) }}

    {{ govukInput({
      label: {
        text: "Last name",
        classes: "govuk-label--m"
      },
      classes: "govuk-input govuk-!-width-two-thirds govuk-input--extra-letter-spacing",
      id: "last-name",
      name: "lastName",
      inputmode: "alpha",
      spellcheck: false
    }) }}

    {{ govukDateInput({
        id: "date-of-birth",
        namePrefix: "date-of-birth",
        fieldset: {
          legend: {
            text: "Date of birth",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2000"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Staff number",
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-20",
        id: "staff-number",
        name: "staffNumber",
        spellcheck: false
      }) }}


    <div class="govuk-button-group">
      {{ govukButton({
        text: "Search",
        href: "search-results-hr-records"
      }) }}
    </div>
    
  </div>
</div>
</div>

{% endblock %}
