{% extends "layouts/main.html" %} {% block pageTitle %} Search microfiches –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}

  <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
        <ul class="dwp-horizontal-navigation__list">
        
        
            <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="records" href="../records" class="dwp-horizontal-navigation__link">Document search</a>
            </li> 
            -->
            <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="reports" href="../report-search/reports" class="dwp-horizontal-navigation__link">Report search</a>
            </li> 
             -->
            <li class="dwp-horizontal-navigation__item  dwp-horizontal-navigation__item--selected">
            <a id="HRPortal" href="hr-search" class="dwp-horizontal-navigation__link" aria-current="true">HR search</a>
            </li>         
           <!--
            <li class="dwp-horizontal-navigation__item">
            <a id="documentUpload" href="../upload/upload-customer-details" class="dwp-horizontal-navigation__link">Document upload</a>
            </li> 
           -->
        
        </ul>
    </nav>

<div class="govuk-!-padding-bottom-4"></div>


  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}


{% endblock %} 



{% block content %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l">Search microfiches</h1>
      <!--SEARCH COMBOS -->
      {{ govukDetails({
          summaryText: "Accepted search combinations",
          html: '<p class="govuk-body">You can search by:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Year and HR reference</li>
                  <li>Year, staff number ending and HR reference</li>
                  <li>Year, staff number ending</li>
                  <li>Month, year and staff number ending</li>
                  <li>Month, year, staff number ending and HR reference</li>
                </ul>'
        }) }}

   
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="microfiche-date-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Date
          </legend>
          <div id="microfiche-date-hint" class="govuk-hint">
            For example, 3 2007
          </div>
          <div class="govuk-date-input" id="microfiche-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="microfiche-date-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="microfiche-date-month" name="microfiche-date-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="microfiche-date-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="microfiche-date-year" name="microfiche-date-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
   


      {{ govukInput({
        label: {
          text: "Staff number ending",
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
        hint: {
        text: "Enter the last 4 digits of a staff number"
        },
        id: "staff-ending",
        name: "staffEnding",
        inputmode: "numeric",
        spellcheck: false
      }) }}

       {{ govukInput({
        label: {
          text: "HR reference",
          classes: "govuk-label--m"
        },
        classes: "govuk-!-width-full govuk-input--extra-letter-spacing",
        id: "hr-reference",
        name: "HRreference",
        inputmode: "numeric",
        spellcheck: false
      }) }}


   {{ govukButton({
        text: "Search",
        href: "search-results-microfiche"
      }) }}
    
  </div>
</div>
</div>

{% endblock %}
