{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}/images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block header %}
{{
    dwpHeader({
        serviceName: serviceName,
        serviceHref: "/",
        container: true
    })
}}
{% endblock %}

{% block footer %}
{{
    dwpFooter({
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "/ecms-v1/sitewide/accessibility-statement",
                text: "Accessibility statement"
            },
            {
            href: "https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice",
            attributes: {
            target: "_blank",
            rel: "noopener noreferrer"
            },
            text: "Privacy (opens in new tab)"
            },
            {
                href: "/manage-prototype/clear-data",
                text: "Clear prototype data"
              }
            ]
        }
    }) 
}}
{% endblock %}
